mixin headingSubpage(props = {})
    -var {classname = '', style, heading=true, content=true, headingTitle, subHeading, category, heading2, heading3, desc, date, img} = props
    div(class=`content-heading ${classname}`)
        if(style=='style-one')
            .container
                if(heading==true)
                    .heading.flex-column-center.pb-60
                        .heading2.text-center.pb-16!= headingTitle
                        .border-line
                        .body2.text-on-surface-variant1.pt-16!= subHeading
                if(content==true)
                    .content-main
                        .row.row-gap-40.flex-between
                            .col-lg-5.pr-32.pr-col-lg-0
                                .category.caption1.fw-700.text-blue.bg-blue-surface.display-inline-block.pt-4.pb-4.pl-10.pr-10.bora-8!= category 
                                if(heading2)
                                    .name.heading2.mt-12!= heading2 
                                if(heading3)
                                    .name.heading3.mt-12!= heading3 
                                if(desc)
                                    .body2.text-on-surface-variant1.mt-12!= desc
                                if(date)
                                    .text-label.text-on-surface-variant1.mt-16!= date
                            .col-lg-7.pl-36.pl-col-lg-0 
                                .bg-img.w-100
                                    img(src=`${img}`, alt=`${title}`).w-100.bora-20
        if(style=='style-two')
            .container
                if(heading==true)
                    .heading.flex-column-center.pb-60
                        .heading2.text-center.pb-16!= headingTitle
                        .border-line
                        .body2.text-on-surface-variant1.pt-16!= subHeading
                if(content==true)
                    .content-main
                        .row.row-gap-40.flex-between
                            .col-lg-7.pr-36.pr-col-lg-0 
                                .bg-img.w-100
                                    img(src=`${img}`, alt=`${title}`).w-100.bora-20
                            .col-lg-5.pl-32.pl-col-lg-0
                                .category.caption1.fw-700.text-blue.bg-blue-surface.display-inline-block.pt-4.pb-4.pl-10.pr-10.bora-8!= category 
                                if(heading2)
                                    .name.heading2.mt-12!= heading2 
                                if(heading3)
                                    .name.heading3.mt-12!= heading3 
                                if(desc)
                                    .body2.text-on-surface-variant1.mt-12!= desc
                                if(date)
                                    .text-label.text-on-surface-variant1.mt-16!= date
                        
