mixin productItem(props = {})
    -var {classname = '', href='product-detail.html', img, newStyle=true, discount, name, star, sale, price, originalPrice} = props
    div(class=`product-item ${classname}`)
        a(href=`${href}`).main-item
            .bg-img.flex-center.border-outline.bora-8
                img(src=`${img}`, alt=`${name}`)
                if(newStyle==true)
                    .text-label.pl-8.pr-8.bg-yellow New
                if(discount)
                    .text-label.pl-8.pr-8.bg-critical.text-white!= discount
                .like-block  
                    i.ph-bold.ph-heart.text-on-surface-variant1.p-8.bora-50.border-outline
            .infor.mt-16.flex-column-center 
                .name.text-button.text-center!= name 
                .list-star.flex-item-center.gap-8.mt-4
                    .star.flex-item-center.gy-1
                        if(star=='4')
                            i.ph-fill.ph-star.text-yellow
                            i.ph-fill.ph-star.text-yellow
                            i.ph-fill.ph-star.text-yellow
                            i.ph-fill.ph-star.text-yellow
                            i.ph-fill.ph-star.text-on-surface-variant1
                        if(star=='5')
                            i.ph-fill.ph-star.text-yellow
                            i.ph-fill.ph-star.text-yellow
                            i.ph-fill.ph-star.text-yellow
                            i.ph-fill.ph-star.text-yellow
                            i.ph-fill.ph-star.text-yellow
                    .caption1.text-on-surface-variant1!= `(${sale})`
                .list-price.flex-item-center.gap-12.mt-8
                    .heading6!= price
                    if(originalPrice)
                        .text-decoration-line-through.text-on-surface-variant1!= originalPrice
                
